@import '@common/css/base/variables.scss';

.script-item {
	position: relative;
	$border-color: darken($light1, 3%);
	border: 1px solid $border-color;
	border-left: 4px solid $border-color;
	border-radius: 2px 1px 1px 2px;
	background: white;

	// animation: 0.25s fadeIn both;
	transition: 0.2s ease-out;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&.editable {
		cursor: pointer;

		&:hover {
			$color: lighten($b3, 10%);
			// @include shadowSharp($color);
			// @include shadowShort($color);
			// @include shadowDreamy($color);
			// box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.14);
			box-shadow:
				0 1px 1px rgba($color, 0.25),
				0 2px 2px rgba($color, 0.20),
				0 4px 4px rgba($color, 0.15);
			// 0 8px 8px rgba($color, 0.10),
			// 0 16px 16px rgba($color, 0.05);
		}
	}


	&__name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
		font-weight: bold;
		max-width: 100%;

		svg {
			fill: $b4;
			$size: 14px;
			width: $size;
			height: $size;
			margin-right: 5px;
			margin-top: -2px;
		}
	}

	&__date {
		display: block;
		font-size: 1.2rem;
		color: lighten($b3, 10%);
	}

	&__left {
		overflow: hidden;
		width: 100%;
		padding: 0.8em 1em;
	}

	&__right {
		flex-shrink: 0;
		align-self: stretch;
	}

	&__execute-btn {
		$size: 70px;
		width: $size;
		min-height: 100%;
		border-left: 1px solid $light1;
	}

	&__execute-run {
		fill: lighten($b4, 10%);
		transition: 0.15s ease;

		&:hover {
			fill: $b2;

		}
	}

	&__execute-success {
		fill: #43a047;
		background: white;
		position: absolute;
		opacity: 0;
		transition: 0.2s ease;

		&.active {
			transition: 0.3s ease-out;
			opacity: 1;
		}
	}

	&__toggle-description {
		margin-left: 2px;
		vertical-align: 1px;

		svg {
			$size: 16px;
			width: $size;
			height: $size;
			fill: $b4;
		}
	}

	&:hover &__toggle-description {
		display: inline-block;
	}

	&__description {
		margin-top: 0.5em;
		padding-top: 0.5em;
		border-top: 1px solid $light1;
		font-size: 1.3rem;
	}
}
