/* =====================================================================
Trigger
======================================================================*/

.autorun-form-trigger {
	margin-left: 1.5em;
	flex-shrink: 0;
	width: 75px;
	text-align: center;

	&__button {
		@include button-item;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.2s ease-out;
		background: $light1;
		box-shadow: 0 0 1px rgba(black, 0.5) inset;

		svg {
			$size: 16px;
			width: $size;
			height: $size;
			fill: $b3;
		}

		&:hover {
			background: darken($light1, 3%);
		}

		// &.active svg {
		// 	fill: lighten($b1, 10%);
		// }
		&.active {
			background: lighten(black, 20%);
			background: #404040;

			svg {
				fill: $light1;
			}
		}
	}
}


/* =====================================================================
Main form
======================================================================*/

.autorun-modal {
	width: 580px;
	background: white;
	border: 1px solid $light1;
	border-radius: 2px;

	$side-padding: 2em;

	&__head {
		padding: 0 $side-padding;
		display: flex;
		justify-content: space-between;
	}

	&__actions {
		padding: 1em $side-padding;
	}

	&__body {
		padding: 1em $side-padding;
	}

	&__title {
		svg {
			fill: $b3;
			$size: 16px;
			width: $size;
			height: $size;
			margin-right: 8px;
		}
	}
}


.autorun-form {
	&__description {
		margin-top: 8px;
	}

	&__section-title {
		font-weight: bold;
		display: block;
		margin-top: 2.5em;
	}


	&__toggle {
		margin-top: 8px;
		cursor: pointer;
		display: inline-block;

		span {
			text-transform: uppercase;
			color: $b4;
			vertical-align: middle;

			&.active {
				font-weight: bold;
				color: $b1;
			}

			&:first-child {
				margin-right: 6px;
			}

			&:last-child {
				margin-left: 8px;
			}

			svg {
				vertical-align: -9px;
			}
		}

		&-off {
			fill: lighten($b4, 5%);
		}

		&-on {
			fill: $b1;
		}
	}

	&__disabled {
		opacity: 0.3;

		label {
			cursor: not-allowed;
		}
	}
}


/* =====================================================================
Event types
======================================================================*/

.event-types-form {
	&__options {
		display: grid;
		column-count: 2;
		grid-gap: 8px 1rem;
		grid-template-columns: 50% 50%;
		margin-top: 1em;
	}

	&__option {
		cursor: pointer;

		svg {
			$size: 18px;
			width: $size;
			height: $size;
			margin-right: 8px;
			fill: $b2;
			vertical-align: -5px;
		}
	}

}


/* =====================================================================
Url filters
======================================================================*/

.autorun-filters {
	&__error {
		text-align: center;
		background: $red1;
		color: white;
		// font-weight: bold;
		padding: 3px 1em;
	}

	&__editor {
		height: 220px;
		margin-top: 1em;
		border: 1px solid $light1;
		overflow: hidden;

		&.disabled {
			cursor: not-allowed;

			* {
				pointer-events: none;
			}
		}

		&.error {
			border-color: $red1;
		}
	}

	&__info-trigger {
		cursor: pointer;

		svg {
			$size: 16px;
			width: $size;
			height: $size;
			fill: $b2;
			vertical-align: -3px;
		}
	}
}


.url-filters-popup {
	max-width: 800px;
	border: 1px solid $light1;
	border-radius: 2px;

	$side-padding: 1.5em;

	&__header {
		padding: 1em $side-padding 0.8em;
		font-size: 1.6rem;
		display: flex;
		justify-content: space-between;
		font-weight: bold;
	}

	&__body {
		padding: 0.5em $side-padding 1em;
	}

	&__name {
		font-weight: bold;
		color: $b1;
	}

	&__type {
		font-weight: bold;
		color: lighten($b3, 5%);
	}

	li {
		margin: 12px 0;
	}
}
