/* =====================================================================
Trigger
======================================================================*/

.autorun-form-trigger {
	margin-left: 1.5em;
	flex-shrink: 0;
	width: 75px;
	text-align: center;

	&__button {
		@include button-item;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			$size: 14px;
			width: $size;
			height: $size;
			fill: $b3;
		}

		&.active svg {
			fill: $b1;
		}
	}
}


/* =====================================================================
Main form
======================================================================*/

.autorun-modal {
	width: 580px;
	background: white;
	border: 1px solid $light1;
	border-radius: 2px;

	$side-padding: 2em;

	&__head {
		padding: 0 $side-padding;
	}

	&__actions {
		padding: 1em $side-padding;
	}

	&__body {
		padding: 1em $side-padding;
	}
}


.autorun-form {
	&__description {
		margin-top: 8px;

		a {
			color: $blue3;
			font-weight: bold;
		}
	}

	&__section-title {
		font-weight: bold;
		display: block;
		margin-top: 2.5em;
	}


	&__toggle {
		margin-top: 8px;
		cursor: pointer;
		display: inline-block;

		span {
			text-transform: uppercase;
			color: $b4;
			vertical-align: middle;

			&.active {
				font-weight: bold;
				color: $b1;
			}

			&:first-child {
				margin-right: 6px;
			}

			&:last-child {
				margin-left: 8px;
			}
		}

		&-off {
			fill: lighten($b4, 5%);
		}

		&-on {
			fill: $b1;
		}
	}

	&__disabled {
		opacity: 0.4;

		label {
			cursor: not-allowed;
		}
	}
}


/* =====================================================================
Event types
======================================================================*/

.event-types-form {
	&__options {
		display: grid;
		column-count: 2;
		grid-gap: 8px 1rem;
		grid-template-columns: 50% 50%;
		margin-top: 1em;
	}

	&__option {
		cursor: pointer;

		svg {
			$size: 18px;
			width: $size;
			height: $size;
			margin-right: 8px;
			fill: $b2;
			vertical-align: -5px;
		}
	}

}


/* =====================================================================
Url filters
======================================================================*/

.autorun-filters {
	&__editor {
		height: 300px;
		margin-top: 1em;
		border: 1px solid $light1;

		&.disabled {
			cursor: not-allowed;

			* {
				pointer-events: none;
			}
		}
	}
}
