.intro-modal {
	width: 520px;
	padding: 1em 2em 1.5em;
	border: 1px solid $light1;
	border-radius: 4px;

	&__title {
		font-size: 3rem;
		text-align: center;
	}

	ul {
		padding-left: 2.1em;
		position: relative;
	}

	li {
		margin-top: 1em;

		svg {
			$size: 16px;
			width: $size;
			height: $size;
			fill: $b3;
			position: absolute;
			left: 0;
			margin-top: 2px;
		}
	}

	button {
		margin-top: 1em;
	}
}
