.form-container {
	animation: 0.45s fadeIn ease;
}

/* =====================================================================
Main form
======================================================================*/

.main-form {
	&__top-bar {
		flex-shrink: 0;
	}

	&__title {
		display: flex;
		// flex-direction: row;
		justify-content: space-between;
	}

	&__close {
		margin-left: 1em;

		svg {
			fill: $b4;
		}
	}

	&__name-wrapper {
		display: flex;
		flex-direction: row;
	}
}


/* =====================================================================
Monaco editor
======================================================================*/

.monaco-editor-wrapper {
	margin-top: 2.5em;
	border: 1px solid $light1;
	height: 100%;
	overflow-y: auto;
}

/* =====================================================================
Actions
======================================================================*/

.main-form-actions {
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
}

.main-form-delete {
	&__wrapper {
		position: relative;
	}

	&__btn {
		color: $b4;
		position: relative;

		&:hover {
			color: $red1;
			text-decoration: underline;
		}
	}

	&__confirm {
		bottom: 100%;
		width: 200px;
		border: 1px solid $light1;
		margin-bottom: 1em;
		right: 0;
		padding: 0.5em;
	}

	&__confirm-buttons {
		margin-top: 1em;

		button {
			margin-right: 1em;
			color: $b3;

			&:first-child {
				&:hover {
					color: $red1;
				}
			}

			&:last-child {
				&:hover {
					color: $b1;
				}
			}
		}
	}
}
