@import '@common/css/base/variables.scss';

@mixin padding() {
	padding-top: $panel-padding-top;
	padding-bottom: 1em;
	padding-left: 1.3em;
	padding-right: 1.5em;
}

.script-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden; // for __top shadow not to spill over

	&__top {
		flex-shrink: 0;
		@include padding();
		padding-bottom: 0.5em;
		border-bottom: 1px solid $light1;
		z-index: 2;
		transition: 0.15s ease-out;

		&.bottom-shadow {
			// @include shadowDreamy($b3);
			@include shadowShort($b4);
		}
	}

	&__add-new {
		// ...
	}


	&__list {
		overflow: auto;
		@include padding();
		padding-top: 1.3em;
		background: #f3f3f3;
		height: 100%;
	}

	&__search-wrapper {
		padding-top: 1em;
		padding-bottom: 1em;

		svg {
			$size: 18px;
			width: $size;
			height: $size;
			fill: $b3;
			position: absolute;
			margin-top: 2px;
		}

		input {
			padding-left: 28px;
			padding-bottom: 8px;
		}
	}
}


.script-item {
	// margin-bottom: 1.5em;
	// padding: 0.5em 1em;
	padding: 0.8em 1em;
	margin-bottom: 1em;
	$border-color: darken($light1, 3%);
	border: 1px solid $border-color;
	border-left: 4px solid $border-color;
	border-radius: 3px 1px 1px 3px;
	background: white;

	cursor: pointer;
	// animation: 0.25s fadeIn both;
	transition: 0.2s ease-out;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&:hover {
		$color: lighten($b3, 10%);
		// @include shadowSharp($color);
		// @include shadowShort($color);
		// @include shadowDreamy($color);
		// box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.14);
		box-shadow:
			0 1px 1px rgba($color, 0.25),
			0 2px 2px rgba($color, 0.20),
			0 4px 4px rgba($color, 0.15);
		// 0 8px 8px rgba($color, 0.10),
		// 0 16px 16px rgba($color, 0.05);
	}


	&__name {
		white-space: nowrap;
		overflow: hidden;
		max-width: 220px;
		text-overflow: ellipsis;
		display: inline-block;
		font-weight: bold;
	}

	&__date {
		display: block;
		font-size: 1.2rem;
		color: lighten($b3, 10%);
	}

	&__right {
		flex-shrink: 0;
		// padding: 0 1em;
	}

	&__fav {
		svg {
			fill: lighten($b5, 25%);
			$size: 18px;
			width: $size;
			height: $size;
			vertical-align: middle;
			margin-bottom: 2px;
			transition: 0.15s ease;
		}

		&:hover svg {
			fill: $b4;
		}

		&.selected svg {
			fill: #fbc02d;
		}
	}
}
