@import '@common/css/base/variables.scss';

@mixin padding() {
	padding-top: $panel-padding-top;
	padding-bottom: 1em;
	padding-left: 1.3em;
	padding-right: 1.5em;
}

.script-list {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden; // for __top shadow not to spill over

	&__top {
		flex-shrink: 0;
		@include padding();
		border-bottom: 1px solid $light1;
		z-index: 2;
		transition: 0.15s ease-out;

		&.bottom-shadow {
			@include shadowDreamy($b3);
		}
	}

	&__add-new {
		// ...
	}


	&__list {
		overflow: auto;
		@include padding();
		padding-top: 2em;
		background: #f3f3f3;
		height: 100%;
	}

	&__search-wrapper {
		padding-top: 1em;
		padding-bottom: 0.5em;

		svg {
			$size: 18px;
			width: $size;
			height: $size;
			fill: $b3;
			position: absolute;
			margin-top: 2px;
		}

		input {
			padding-left: 28px;
			padding-bottom: 8px;
		}
	}
}


.script-item {
	margin-bottom: 1.5em;
	$border-color: darken($light1, 3%);
	border: 1px solid $border-color;
	border-left: 4px solid $border-color;
	border-radius: 3px 1px 1px 3px;
	padding: 0.5em 1em;
	background: white;

	cursor: pointer;
	transition: 0.15s ease-out;

	animation: 0.25s fadeIn both;

	&__name {
		white-space: nowrap;
		overflow: hidden;
		max-width: 220px;
		text-overflow: ellipsis;
		display: inline-block;
		font-weight: bold;
	}

	&__date {
		display: block;
		font-size: 1.2rem;
		color: lighten($b3, 10%);
	}

	// TODO
	&:hover {
		@include shadowSharp($b3);
		@include shadowShort($b3);
		// @include shadowShort();
		// border-color: darken($light1, 10%);
		// border-top-color: darken($light1, 10%);
		// border-bottom-color: darken($light1, 10%);
		// border-right-color: darken($light1, 10%);
	}
}
