.no-outline {
	&:active, &:focus {
		outline: none;
	}
}

button {
	font-family: inherit;
	text-transform: none;
	margin: 0;
	border: 0;
	line-height: inherit;
	background: inherit;

	&:not(:disabled) {
		cursor: pointer;
	}
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

svg {
	vertical-align: middle;
}
