$font-main: 'Inconsolata', monospace;
$font-alt: 'Roboto Condensed', sans-serif;

// colors
$b1: #323232;
$b2: #6c6c6c;
$b3: #777;
$b4: lighten($b3, 10%);
// $b4: #4e4e4e;
// $b5: lighten(#4e4e4e, 15%);

$light1: #f1f1f1;
$blue1: #8eddfd;
$blue2: #61c8f2;
$blue3: #2196f3;

$red1: #f44336;

$header-height: 60px;
$side-padding: 1em;
$body-height: calc(100vh - #{$header-height});

$panel-padding-top: 0.5em;

@mixin keyframes ($name) {
	@-webkit-keyframes #{$name} {
		@content;
	}

	@keyframes #{$name} {
		@content;
	}
}


@mixin mq($type, $sizes...) {
	@if $type==min {
		@media only screen and (min-width : nth($sizes, 1)) {
			@content;
		}
	}

	@else if $type==max {
		@media only screen and (max-width : nth($sizes, 1)) {
			@content;
		}
	}

	@else if $type==between {
		@media only screen and (min-width : nth($sizes, 1)) and (max-width : nth($sizes, 2)) {
			@content;
		}
	}
}

// https://tobiasahlin.com/blog/layered-smooth-box-shadows/
@mixin shadowShort($color: black) {
	box-shadow: 0 1px 1px rgba($color, 0.11),
		0 2px 2px rgba($color, 0.11),
		0 4px 4px rgba($color, 0.11),
		0 6px 8px rgba($color, 0.11),
		0 8px 16px rgba($color, 0.11);
}

@mixin shadowSharp($color: black) {
	box-shadow: 0 1px 1px rgba($color, 0.25),
		0 2px 2px rgba($color, 0.20),
		0 4px 4px rgba($color, 0.15),
		0 8px 8px rgba($color, 0.10),
		0 16px 16px rgba($color, 0.05);
}

@mixin shadowDreamy($color: black) {
	box-shadow: 0 1px 2px rgba($color, 0.07),
		0 2px 4px rgba($color, 0.07),
		0 4px 8px rgba($color, 0.07),
		0 8px 16px rgba($color, 0.07),
		0 16px 32px rgba($color, 0.07),
		0 32px 64px rgba($color, 0.07);
}
