// base
@import '@common/css/base/variables.scss';
@import '@common/css/base/normalize.scss';
@import '@common/css/base/global.scss';

// common components
@import '@common/css/components/buttons.scss';
@import '@common/css/components/form.scss';

@import './variables.scss';
@import './layout.scss';

// components
@import './components/script-list.scss';
@import './components/color-picker.scss';


.header {
	height: $header-height;
	display: flex;
	align-items: center;
	padding: 0 $side-padding;
	border-bottom: 1px solid $light1;
	position: relative;
	z-index: 2;
	background: white;

	&__icon {
		font-size: 2.8rem;
		opacity: 0.75;
	}

	&__title {
		display: inline-block;
		margin-left: 1em;
	}
}

.script-editor {
	&__form-top {
		flex-shrink: 0;
	}

	&__name-wrapper {
		display: flex;
		flex-direction: row;
	}

	&__monaco-wrapper {
		margin-top: 2.5em;
		// border-top: 1px solid $light1;
		border: 1px solid $light1;
		height: 100%;
		overflow-y: auto;
	}
}

// .new-script {
// 	&__form {
// 		// padding: 0.5em 2em 1.5em;
// 	}
// }
// .monaco-editor {
// 	// padding-top: 4px;
// }
